/Clase2ClienteServidorconListas/nbproject/private/
/Clase2ClienteServidorconListas/build/
/Clase2ClienteServidorconListas/dist/
/Clase3Chat/nbproject/private/
/Clase3Chat/build/
/Clase3Chat/dist/
/Clase4ChatClienteServidor/nbproject/private/
/Clase4ChatClienteServidor/build/
/ClienteServidorSevidordesconectado/nbproject/private/
/Clase4ChatClienteServidor/dist/
/ClienteServidorSevidordesconectado/build/
/ClienteServidorSevidordesconectado/dist/
/Factorial/nbproject/private/
/Factorial/build/
/ScrapingWeb/nbproject/private/
/ScrapingWeb/build/
/ScrapingWeb/dist/
/ClientDispatcherServer/nbproject/private/
/ClientDispatcherServer/build/
/ScrapingCondor/build/
/ScrapingCondor/dist/
